{% set menu = '' %}

<html>
<head>
    <meta charset="UTF-8">
    <title>Stellar - {{ block('PageTitle') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body class="fix-header fix-sidebar mini-sidebar">
<section class="dashboard">
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        {% block header %}
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('app_index') }}">
                        <!-- Logo icon -->
                        <b><img src="/assets/img/logo.png" width="24" alt="homepage" class="dark-logo" /></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>Stellar</span>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item">
                          <a class="nav-link text-muted toggleChat" href="#" onclick="toggleChat();"><i class="fas fa-comments"></i></a>
                        </li>
                    </ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/dashboard/users/5.jpg" alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <li><a href="#"><i class="ti-user"></i> Profile</a></li>
                                    <li><a href="#"><i class="ti-settings"></i> Setting</a></li>
                                    <li><a href="{{ logout_url('main') }}"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End header header -->
        {% endblock %}

        {% block sidebar %}
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Home</li>
                        <li>
                            <a href="{{ path('app_index') }}"><i class="fa fa-tachometer-alt"></i><span class="hide-menu">Dashboard</span></a>
                        </li>

                        <li class="nav-label">Mes modules</li>
                        <li>
                            <a href="{{ path('app_my_modules_index') }}"><i class="fa fa-warehouse"></i><span class="hide-menu">Gérer mes modules</span></a>
                        </li>
                        <li>
                            <a href="{{ path('app_my_modules_new') }}"><i class="fa fa-shopping-cart"></i><span class="hide-menu">Commander un module</span></a>
                        </li>
                        <li>
                            <a href="{{ path('app_index') }}"><i class="fa fa-file-invoice"></i><span class="hide-menu">Facturation</span></a>
                        </li>

                        <li class="nav-label">Assistance</li>
                        <li>
                            <a href="{{ path('app_ticket_my_tickets') }}"><i class="fa fa-life-ring"></i><span class="hide-menu">Mes tickets</span></a>
                        </li>
                        <li>
                            <a href="{{ path('app_ticket_new') }}"><i class="fa fa-plus-square"></i><span class="hide-menu">Créer un ticket</span></a>
                        </li>

                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-label">Administration</li>
                            <li>
                                <a href="{{ path('app_article_index') }}"><i class="fa fa-newspaper"></i><span class="hide-menu">Gérer les articles</span></a>
                            </li>
                            <li>
                                <a href="{{ path('app_module_index') }}"><i class="fa fa-warehouse"></i><span class="hide-menu">Gérer les modules</span></a>
                            </li>
                            <li>
                                <a href="{{ path('app_ticket_index') }}"><i class="fa fa-users"></i><span class="hide-menu">Gérer les tickets</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        {% endblock %}

        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-10 align-self-center">
                    <h3 class="text-primary">{% block PageTitle %}Dashboard{% endblock %}</h3>
                </div>
                <div class="col-md-2 align-self-lg-end">
                    {% block headBtn %}{% endblock %}
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                {% block body %}
                {% endblock %}
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> © 2161 Stellar Corporation. All rights reserved.</footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <div class="tchapitchapo" style="display: none">
      <div class="head-chat">
        <div class="left">
          <i class="fas fa-comments"></i> Stellar Chat
        </div>
        <div class="right">
          <a href="#" class="chat-close" onclick="toggleChat();">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
      <ul class="messages-chat">
        <li class="msg-chat">
          <span class="username-chat">Nyroux</span>
          <span class="message-chat">Salu à touss lé bro c Nyroux pour OTP Teemo</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Adolf Hitler</span>
          <span class="message-chat">hihihi trop drole xD</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Ralphi</span>
          <span class="message-chat">jvé vou hacké è.é</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Nyroux</span>
          <span class="message-chat">Salu à touss lé bro c Nyroux pour OTP Teemo</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Adolf Hitler</span>
          <span class="message-chat">hihihi trop drole xD</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Ralphi</span>
          <span class="message-chat">jvé vou hacké è.é</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Nyroux</span>
          <span class="message-chat">Salu à touss lé bro c Nyroux pour OTP Teemo</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Adolf Hitler</span>
          <span class="message-chat">hihihi trop drole xD</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Ralphi</span>
          <span class="message-chat">jvé vou hacké è.é</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Nyroux</span>
          <span class="message-chat">Salu à touss lé bro c Nyroux pour OTP Teemo</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Adolf Hitler</span>
          <span class="message-chat">hihihi trop drole xD</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Ralphi</span>
          <span class="message-chat">jvé vou hacké è.é</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Nyroux</span>
          <span class="message-chat">Salu à touss lé bro c Nyroux pour OTP Teemo</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Adolf Hitler</span>
          <span class="message-chat">hihihi trop drole xD</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Ralphi</span>
          <span class="message-chat">jvé vou hacké è.é</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Nyroux</span>
          <span class="message-chat">Salu à touss lé bro c Nyroux pour OTP Teemo</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Adolf Hitler</span>
          <span class="message-chat">hihihi trop drole xD</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Ralphi</span>
          <span class="message-chat">jvé vou hacké è.é</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Nyroux</span>
          <span class="message-chat">Salu à touss lé bro c Nyroux pour OTP Teemo</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Adolf Hitler</span>
          <span class="message-chat">hihihi trop drole xD</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Ralphi</span>
          <span class="message-chat">jvé vou hacké è.é</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Nyroux</span>
          <span class="message-chat">Salu à touss lé bro c Nyroux pour OTP Teemo</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Adolf Hitler</span>
          <span class="message-chat">hihihi trop drole xD</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Ralphi</span>
          <span class="message-chat">jvé vou hacké è.é</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Nyroux</span>
          <span class="message-chat">Salu à touss lé bro c Nyroux pour OTP Teemo</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Adolf Hitler</span>
          <span class="message-chat">hihihi trop drole xD</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Ralphi</span>
          <span class="message-chat">jvé vou hacké è.é</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Nyroux</span>
          <span class="message-chat">Salu à touss lé bro c Nyroux pour OTP Teemo</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Adolf Hitler</span>
          <span class="message-chat">hihihi trop drole xD</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Ralphi</span>
          <span class="message-chat">jvé vou hacké è.é</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Nyroux</span>
          <span class="message-chat">Salu à touss lé bro c Nyroux pour OTP Teemo</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Adolf Hitler</span>
          <span class="message-chat">hihihi trop drole xD</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Ralphi</span>
          <span class="message-chat">jvé vou hacké è.é</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Nyroux</span>
          <span class="message-chat">Salu à touss lé bro c Nyroux pour OTP Teemo</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Adolf Hitler</span>
          <span class="message-chat">hihihi trop drole xD</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Ralphi</span>
          <span class="message-chat">jvé vou hacké è.é</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Nyroux</span>
          <span class="message-chat">Salu à touss lé bro c Nyroux pour OTP Teemo</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Adolf Hitler</span>
          <span class="message-chat">hihihi trop drole xD</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Ralphi</span>
          <span class="message-chat">jvé vou hacké è.é</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Nyroux</span>
          <span class="message-chat">Salu à touss lé bro c Nyroux pour OTP Teemo</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Adolf Hitler</span>
          <span class="message-chat">hihihi trop drole xD</span>
        </li>
        <li class="msg-chat">
          <span class="username-chat">Ralphi</span>
          <span class="message-chat">jvé vou hacké è.é</span>
        </li>
      </ul>
      <div class="input-chat">
        <input type="text" placeholder="Type your message...">
        <button type="submit">
          <i class="fas fa-paper-plane"></i>
        </button>
      </div>
    </div>
</section>

{% block javascript %}
<script src="/assets/js/jquery-3.2.1.slim.min.js"></script>
<script src="/assets/js/jquery.slimscroll.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/main.js"></script>
{% endblock %}
</body>
</html>